::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #2d2d2d;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #4c6ef5;
    border-radius: 6px;
    border: 3px solid #2d2d2d;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3b5bb6;
}

input[type="checkbox"] {
    accent-color: #3b5bb6 !important;
}